In [1]:
import pandas as pd
import numpy as np

In [2]:
!python --version

Python 3.7.12

In [3]:
def barrio_num (text):
    section1 = text.split(')')
    name, number = [] , []
    for i in section1:
        if i!='':
            section2 = i.split('(')
            name.append (section2[0].strip().strip(',\xa0').strip('y\xa0'))
            new_num = section2[1].strip()
            if new_num!='*':
                number.append (new_num)
    return  number, name

In [4]:
super_llista = ["El Raval (1), Barrio Gótico (2), La Barceloneta (3) y San Pedro, Santa Catalina y la Ribera (4)",            
           'El Fort Pienc (5), Sagrada Familia (6), La Derecha del Ensanche (7), La Antigua Izquierda del Ensanche (8), La Nueva Izquierda del Ensanche (9) y San Antonio (10)',
            'Pueblo Seco (11), La Marina del Prat Vermell (12), La Marina de Port (13), La Font de la Guatlla (14), Hostafrancs (15), La Bordeta (16), Sants-Badal (17), Sants (18), Zona Franca (*) y Montjuïc (*)',
            'Les Corts (19), La Maternidad y San Ramón (20) y Pedralbes (21)',
            'Vallvidrera, el Tibidabo i les Planes (22), Sarriá (23), Las Tres Torres (24), Sant Gervasi-Bonanova (25), Sant Gervasi-Galvany (26) y El Putxet i el Farró (27)',
            "Vallcarca y los Penitentes (28), El Coll (29), La Salud (30), Villa de Gracia (31) y Camp d'en Grassot i Gràcia Nova (32)",
            "Baix Guinardó (33), Can Baró (34), El Guinardó (35), La Font d'en Fargues (36), El Carmelo (37), La Teixonera (38), Sant Genís dels Agudells (39), Montbau (40), El Valle de Hebrón (41), La Clota (42) y Horta (43)",
            "Vilapicina y La Torre Llobeta (44), Porta (45), Turó de la Peira (46), Can Peguera (47), La Guineueta (48), Canyelles (49), Les Roquetes (50), Verdún (51), La Prosperitat (52), La Trinitat Nova (53), Torre Baró (54), Ciudad Meridiana (55) y Vallbona (56)",
            "La Trinitat Vella (57), Baró de Viver (58), El Buen Pastor (59), San Andrés (60), La Sagrera (61), Congrés i els Indians (62) y Navas (63)",
            "El Campo del Arpa del Clot (64), El Clot (65), El Parc i la Llacuna del Poblenou (66), La Villa Olímpica del Poblenou (67), Pueblo Nuevo (68), Diagonal Mar i Front Marítim del Poblenou (69), El Besós y el Maresme (70), Provençals del Poblenou (71), San Martín de Provensals (72) y La Verneda y la Paz (73)"
            ]

In [5]:
barrio =[]
num_barrio = []
districts=[]
j=1
for i in super_llista:
            num_list, barrio_list = barrio_num(i)
            num_barrio = num_barrio + num_list
            barrio = barrio + barrio_list
            new_dist =[]
            for z in range(len(num_list)):
                new_dist.append(j)
            districts = districts + new_dist
            j+=1

In [6]:
barris_district = pd.DataFrame (zip( num_barrio, barrio, districts), columns = ['num_barri', 'barri', 'num_districte'])

In [7]:
barris_district.to_excel('barris_districtes.xlsx', index=False)
barris_district.to_csv('barris_districtes.csv', index=False)

In [8]:
def collect_all_data (list_webs):
    '''Funtion to donlowd csv files from a list of direct download
            INPUT:  list of direct download of the csv file 
            OUTPUT: one big dataframe containing all downloaded csv
    '''
    total_df =pd.DataFrame()
    for i in list_webs:
        new_df = pd.read_csv (i)
        total_df = pd.concat ([total_df, new_df])
    return total_df

In [9]:
webs_padro_viu_sola_edat_2007_2022  = [   'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/f14f5367-fb27-4602-a0a6-fe69210ad035/download/2007_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/c173c31e-f97a-44e4-b329-eaf07b8ebfde/download/2008_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/591d3333-22a4-4ed9-a116-a4fd44886786/download/2009_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/b3c841b8-8091-4f71-993c-fb887baa85e4/download/2010_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/2c512878-3b70-43c8-bc20-7a9f743fccb2/download/2011_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/de1ad06a-e78b-4494-b585-5ba72cd0a41a/download/2012_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/77911dcc-fda0-48a0-b814-5687bbaa4141/download/2013_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/d2fb74dd-5735-4f0e-bfa8-e56bd1da0bdd/download/2014_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/0a22c6fb-f065-41bc-9d09-1bbe90ece947/download/2015_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/9c9f3104-d52c-48ff-8e30-8318948f25ef/download/2016_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/05061546-5ef5-4f97-b9f2-c0f4488e3db7/download/2017_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/9fffca9f-330b-4ab8-90d3-06d53947f577/download/2018_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/a948cb3c-d8c7-4abf-93f1-5a5446c783e9/download/2019_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/7af6e2e8-b616-43ce-bb76-f45e337776db/download/2020_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/af99261c-6ba3-4c19-b9f7-3e3965bedfe0/download/2021_padro_viu_sola_edat_quinquennal.csv',
                'https://opendata-ajuntament.barcelona.cat/data/dataset/456d698a-2bb7-4c98-ad66-106854b4ebc2/resource/b30bc413-fbbb-44ba-9550-1aebfddd0889/download/2022_padro_viu_sola_edat_quinquennal.csv'
            ]

In [10]:
padro_viu_sola_edat_2007_2022 = collect_all_data (webs_padro_viu_sola_edat_2007_2022)

In [11]:
padro_viu_sola_edat_2007_2022.shape

(38444, 8)

In [12]:
webs_taxa_inmigracio_2009_2021  = [     'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/6fcb197f-d012-43aa-8136-7844f510e024/download/2009_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/b8d456e2-d44b-40f0-aea2-1507056e3b38/download/2010_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/e86f370a-1de1-4ee9-9147-47a25b884fd3/download/2011_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/2357ae81-e957-49cb-9538-8ca0b1fdcc73/download/2012_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/02965fae-b8b7-43e8-9d8f-00237266f355/download/2013_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/bcf83110-8492-4000-b1dc-8668c6abd1e8/download/2014_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/67594114-2dda-4b1d-8ad8-840a084775ef/download/2015_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/66be6027-bd54-4039-be15-9e5faa616ce2/download/2016_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/d0fc6cac-a252-4cb1-9661-b1a9c38d05d5/download/2017_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/bf82f3fc-5a9a-48fd-8e95-75ed1b5aa7ea/download/2018_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/04ceda77-ceb5-4ae7-ad64-20a4cb4f94f0/download/2019_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/43539e03-0d1c-4355-b144-65b110918d8c/download/2020_taxa_immigracio.csv',
                                        'https://opendata-ajuntament.barcelona.cat/data/dataset/9e7d4905-914a-4ee6-9992-9bdecf1c018d/resource/fee0ae5c-a5d9-4e9a-8535-64bfea96d8e6/download/2021_taxa_immigracio.csv',
]

In [13]:
taxa_inmigracio_2009_2021 = collect_all_data (webs_taxa_inmigracio_2009_2021)

In [14]:
taxa_inmigracio_2009_2021.reset_index(inplace=True)
taxa_inmigracio_2009_2021.drop('index',axis=1, inplace= True)

In [15]:
taxa_inmigracio_2009_2021.isnull().sum()

Any                 0
Codi_Districte     73
Nom_Districte      73
Codi_Barri         73
Nom_Barri          73
Taxa_mil_hab        0
Codi_districte    876
Nom_districte     876
Codi_barri        876
Nom_barri         876
Nombre            657
dtype: int64

In [16]:
nova_columna_tax, nova_columna_Codi_D, nova_columna_Nom_D, nova_columna_Codi_B, nova_columna_Nom_B  = [], [], [], [], []
for i in range(len (taxa_inmigracio_2009_2021)):
    if taxa_inmigracio_2009_2021.isnull().iloc[i].Codi_Districte == True:
        nova_columna_Codi_D.append (taxa_inmigracio_2009_2021.iloc[i].Codi_districte)
        nova_columna_Nom_D.append (taxa_inmigracio_2009_2021.iloc[i].Nom_districte)
        nova_columna_Codi_B.append (taxa_inmigracio_2009_2021.iloc[i].Codi_barri)
        nova_columna_Nom_B.append (taxa_inmigracio_2009_2021.iloc[i].Nom_barri)
    else:
        nova_columna_Codi_D.append (taxa_inmigracio_2009_2021.iloc[i].Codi_Districte)
        nova_columna_Nom_D.append (taxa_inmigracio_2009_2021.iloc[i].Nom_Districte)
        nova_columna_Codi_B.append (taxa_inmigracio_2009_2021.iloc[i].Codi_Barri)
        nova_columna_Nom_B.append (taxa_inmigracio_2009_2021.iloc[i].Nom_Barri)
            
    if taxa_inmigracio_2009_2021.iloc[i].Taxa_mil_hab == 'Taxa per mil habitants':
        nova_columna_tax.append(taxa_inmigracio_2009_2021.iloc[i].Nombre)
    else:
        nova_columna_tax.append(taxa_inmigracio_2009_2021.iloc[i].Taxa_mil_hab)

taxa_inmigracio_2009_2021.Taxa_mil_hab = nova_columna_tax
taxa_inmigracio_2009_2021.Codi_Districte = nova_columna_Codi_D
taxa_inmigracio_2009_2021.Nom_Districte = nova_columna_Nom_D
taxa_inmigracio_2009_2021.Codi_Barri = nova_columna_Codi_B
taxa_inmigracio_2009_2021.Nom_Barri = nova_columna_Nom_B

In [17]:
taxa_inmigracio_2009_2021.drop (['Nom_barri', 'Codi_barri', 'Nom_districte', 'Codi_districte', 'Nombre'], axis = 1, inplace= True)

In [18]:
taxa_inmigracio_2009_2021.isnull().sum()

Any               0
Codi_Districte    0
Nom_Districte     0
Codi_Barri        0
Nom_Barri         0
Taxa_mil_hab      0
dtype: int64

# Exploratory Data Analysis

### Importing libraries

In [2]:
import pycaret
print(pycaret.__version__)

2.3.0

In [3]:
#data exploration&manipulation
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from collections import Counter
import seaborn as sns

import datetime as dt
import os
import matplotlib.pyplot as plt

#ML Models search and optimisation
from pycaret.classification import *

from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMClassifier
from sklearn.metrics import f1_score, confusion_matrix
import optuna
from sklearn.ensemble import ExtraTreesClassifier

ModuleNotFoundError: No module named 'joblib'

### Reading the data set

In [413]:
ibex_df.isnull().sum() #null values:

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Target       0
dtype: int64

In [414]:
ibex_df.reset_index(inplace=True)

In [415]:
ibex_df. rename(columns = {'index':'day'}, inplace = True)

In [416]:
ibex_df.drop('Date', axis=1, inplace=True)
ibex_df0=ibex_df.copy()
ibex_df0

,day,Open,High,Low,Close,Adj Close,Volume,Target
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,0
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1
...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,0
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,0
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,0
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,0
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,0

### Engineering the data set

Variation of prices on the same day and the daily oscillation may be relevant, they will be included in the data frame:

In [417]:
ibex_df['Oscillation']   = ibex_df['High']- ibex_df['Low']
ibex_df['daily_variation']= ibex_df['Close']- ibex_df['Open']

In [418]:
ibex_df

,day,Open,High,Low,Close,Adj Close,Volume,Target,Oscillation,daily_variation
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0,73.699951,39.300049
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1,50.399902,-24.199951
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1,41.800049,-4.000000
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,0,41.800049,-4.000000
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1,45.699951,15.199951
...,...,...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,0,69.699218,24.299804
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,0,89.899414,-9.500000
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,0,92.000000,-28.600586
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,0,81.600586,-32.700195
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,0,61.100586,37.000000

In [419]:
ibex_df2=ibex_df.copy()

ibex_df2['MA_200_dias'] = ibex_df2['Close'].rolling(200).mean()
ibex_df2['MA_20_dias'] = ibex_df2['Close'].rolling(20).mean()
ibex_df2['MA_5_dias'] = ibex_df2['Close'].rolling(5).mean()
ibex_df2['MA_3_dias'] = ibex_df2['Close'].rolling(3).mean()
ibex_df2

,day,Open,High,Low,Close,Adj Close,Volume,Target,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0,73.699951,39.300049,NaN,NaN,NaN,NaN
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1,50.399902,-24.199951,NaN,NaN,NaN,NaN
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1,41.800049,-4.000000,NaN,NaN,NaN,3635.333333
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,0,41.800049,-4.000000,NaN,NaN,NaN,3624.233317
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1,45.699951,15.199951,NaN,NaN,3632.719971,3626.266601
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,0,69.699218,24.299804,9157.978975,9266.144873,9191.919922,9173.599935
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,0,89.899414,-9.500000,9156.050478,9251.664892,9195.259961,9168.333333
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,0,92.000000,-28.600586,9154.357476,9235.394873,9185.800000,9194.266602
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,0,81.600586,-32.700195,9152.224976,9210.889892,9155.459961,9162.900065
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,0,61.100586,37.000000,9151.079976,9197.869873,9164.219922,9143.366537

As it is relevant the resistance and supports from a technical point of view, new columns are added. 
In ibex_df3 only distance to resistances are included:

In [420]:
ibex_df3=ibex_df2.copy()
ibex_df3['dist_Max_200_d'] = ibex_df3['Close']-ibex_df3['Close'].rolling(200).max()
ibex_df3['dist_Max_50_d'] = ibex_df3['Close']-ibex_df3['Close'].rolling(50).max()
ibex_df3['dist_Max_20_d'] = ibex_df3['Close']-ibex_df3['Close'].rolling(20).max()
ibex_df3

,day,Open,High,Low,Close,Adj Close,Volume,Target,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias,dist_Max_200_d,dist_Max_50_d,dist_Max_20_d
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0,73.699951,39.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1,50.399902,-24.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1,41.800049,-4.000000,NaN,NaN,NaN,3635.333333,NaN,NaN,NaN
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,0,41.800049,-4.000000,NaN,NaN,NaN,3624.233317,NaN,NaN,NaN
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1,45.699951,15.199951,NaN,NaN,3632.719971,3626.266601,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,0,69.699218,24.299804,9157.978975,9266.144873,9191.919922,9173.599935,-485.200196,-407.300782,-396.000000
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,0,89.899414,-9.500000,9156.050478,9251.664892,9195.259961,9168.333333,-443.399414,-365.500000,-354.199218
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,0,92.000000,-28.600586,9154.357476,9235.394873,9185.800000,9194.266602,-468.000000,-390.100586,-378.799804
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,0,81.600586,-32.700195,9152.224976,9210.889892,9155.459961,9162.900065,-579.299805,-501.400391,-337.700195
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,0,61.100586,37.000000,9151.079976,9197.869873,9164.219922,9143.366537,-502.000000,-424.100586,-251.799804

In ibex_df4, the supports also were added:

In [421]:
ibex_df4=ibex_df3.copy()

In [422]:
ibex_df4['dist_Min_200_d'] = ibex_df4['Close']-ibex_df4['Close'].rolling(200).min()
ibex_df4['dist_Min_50_d'] = ibex_df4['Close']-ibex_df4['Close'].rolling(50).min()
ibex_df4['dist_Min_20_d'] = ibex_df4['Close']-ibex_df4['Close'].rolling(20).min()
ibex_df4

,day,Open,High,Low,Close,Adj Close,Volume,Target,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias,dist_Max_200_d,dist_Max_50_d,dist_Max_20_d,dist_Min_200_d,dist_Min_50_d,dist_Min_20_d
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,0,73.699951,39.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,1,50.399902,-24.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,1,41.800049,-4.000000,NaN,NaN,NaN,3635.333333,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,0,41.800049,-4.000000,NaN,NaN,NaN,3624.233317,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,1,45.699951,15.199951,NaN,NaN,3632.719971,3626.266601,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,0,69.699218,24.299804,9157.978975,9266.144873,9191.919922,9173.599935,-485.200196,-407.300782,-396.000000,810.699218,127.799804,127.799804
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,0,89.899414,-9.500000,9156.050478,9251.664892,9195.259961,9168.333333,-443.399414,-365.500000,-354.199218,852.500000,169.600586,169.600586
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,0,92.000000,-28.600586,9154.357476,9235.394873,9185.800000,9194.266602,-468.000000,-390.100586,-378.799804,827.899414,145.000000,145.000000
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,0,81.600586,-32.700195,9152.224976,9210.889892,9155.459961,9162.900065,-579.299805,-501.400391,-337.700195,716.599609,33.700195,33.700195
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,0,61.100586,37.000000,9151.079976,9197.869873,9164.219922,9143.366537,-502.000000,-424.100586,-251.799804,793.899414,111.000000,111.000000

In [423]:
ibex_df4.columns

Index(['day', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Target',
       'Oscillation', 'daily_variation', 'MA_200_dias', 'MA_20_dias',
       'MA_5_dias', 'MA_3_dias', 'dist_Max_200_d', 'dist_Max_50_d',
       'dist_Max_20_d', 'dist_Min_200_d', 'dist_Min_50_d', 'dist_Min_20_d'],
      dtype='object')

## Model screening

With Pycaret we test all previous dataframes with a variety of classification models to check the metrics of the performance between models and also between dataframes:

In [233]:
setup(ibex_df0,
          target='Target'
    )
best_model_ibex_df0=compare_models()

In [226]:
setup(ibex_df,
          target='Target'
    )
best_model_ibex_df=compare_models()

In [225]:
setup(ibex_df2,
          target='Target'
    )
best_model_ibex_df2=compare_models()

In [227]:
setup(ibex_df3,
          target='Target'
    )
best_model_ibex_df3=compare_models()

In [228]:
setup(ibex_df4,
          target='Target'
    )
best_model_ibex_df4=compare_models()

In [230]:
best_model_ibex_df.score

<bound method ClassifierMixin.score of GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=7463, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)>

To summarise:
    * Ibex_df0: data cleaned with no extra columns 
    * Ibex_df1: data cleaned adding 2 columns: daily oscillation and daily variation.
    * Ibex_df2: data frame Ibex_df1 adding columns for Moving averages of different lapses.
    * Ibex_df3: data frame Ibex_df2 adding columns for relevant resistance levels.
    * Ibex_df4: data frame Ibex_df3 adding columns for relevant supports levels.

## Model optimization

In [348]:
def scoring_f1(y_test,X_test,method): #generation of f1 macro
    f1score=f1_score(y_test,
                     method.predict(X_test),
                     average= 'macro'
)        
    return f1score

In [341]:
X=ibex_df4.copy()
X.dropna(axis=0,inplace= True)
y=X.Target
X.reset_index(inplace=True)
X.drop('Target',axis=1, inplace=True)
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.3,
                                                    random_state=42
                                                    )

In [342]:
param_test1 = {'n_estimators':range(20,300,10)}
gsearch1 = GridSearchCV(estimator = ExtraTreesClassifier(),
                        param_grid = param_test1, 
                        n_jobs = 4, 
                        cv = 5,
                        verbose = 4,
)

gsearch1.fit(X_train,y_train)

Fitting 5 folds for each of 28 candidates, totalling 140 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  17 tasks      | elapsed:    9.2s
[Parallel(n_jobs=4)]: Done  90 tasks      | elapsed:   45.5s
[Parallel(n_jobs=4)]: Done 140 out of 140 | elapsed:  1.6min finished

GridSearchCV(cv=5, error_score=nan,
             estimator=ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                                            class_weight=None, criterion='gini',
                                            max_depth=None, max_features='auto',
                                            max_leaf_nodes=None,
                                            max_samples=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100, n_jobs=None,
                                            oob_score=False, random_state=None,
                                            verbose=0, warm_start=False),
             iid='deprecated', n_jobs=4,
             param_grid={'n_estimators': range(20, 300, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=4)

In [343]:
gsearch1.best_params_, gsearch1.best_score_

({'n_estimators': 240}, 0.689068136145903)

In [351]:
scoring_f1(y_test,X_test,gsearch1)

0.7137069661061817

In [345]:
param_test2 = {'n_estimators':[240], 'criterion': ['gini', 'entropy', 'log_loss']}
gsearch2 = GridSearchCV(estimator = ExtraTreesClassifier(),
                        param_grid = param_test2, 
                        n_jobs = 4, 
                        cv = 5,
                        verbose = 4,
)

gsearch2.fit(X_train,y_train)

Fitting 5 folds for each of 3 candidates, totalling 15 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  12 out of  15 | elapsed:   16.7s remaining:    4.1s
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:   18.9s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                                            class_weight=None, criterion='gini',
                                            max_depth=None, max_features='auto',
                                            max_leaf_nodes=None,
                                            max_samples=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100, n_jobs=None,
                                            oob_score=False, random_state=None,
                                            verbose=0, warm_start=False),
             iid='deprecated', n_jobs=4,
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'n_estimators': [240]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=4)

In [346]:
gsearch2.best_params_, gsearch2.best_score_

({'criterion': 'entropy', 'n_estimators': 240}, 0.6879447934176766)

In [350]:
scoring_f1(y_test,X_test,gsearch2)

0.7126813595129133

In [352]:
param_test3 = {'n_estimators':[240], 'criterion': ['entropy']}
gsearch3 = GridSearchCV(estimator = ExtraTreesClassifier(),
                        param_grid = param_test3, 
                        n_jobs = 4, 
                        cv = 5,
                        verbose = 4,
)

gsearch3.fit(X_train,y_train)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done   2 out of   5 | elapsed:   10.7s remaining:   16.1s
[Parallel(n_jobs=4)]: Done   5 out of   5 | elapsed:   13.7s finished

GridSearchCV(cv=5, error_score=nan,
             estimator=ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0,
                                            class_weight=None, criterion='gini',
                                            max_depth=None, max_features='auto',
                                            max_leaf_nodes=None,
                                            max_samples=None,
                                            min_impurity_decrease=0.0,
                                            min_impurity_split=None,
                                            min_samples_leaf=1,
                                            min_samples_split=2,
                                            min_weight_fraction_leaf=0.0,
                                            n_estimators=100, n_jobs=None,
                                            oob_score=False, random_state=None,
                                            verbose=0, warm_start=False),
             iid='deprecated', n_jobs=4,
             param_grid={'criterion': ['entropy'], 'n_estimators': [240]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=4)

## test_X prediction

To take advantage of all the dataset, the model with the best hyperparameters is fitted with the whole train data:

In [362]:
best_final_model = ExtraTreesClassifier(class_weight=None, 
                                  criterion='entropy',
                                max_depth=None, 
                                max_features='auto',
                                max_leaf_nodes=None,
                                max_samples=None,
                                min_impurity_decrease=0.0,
                                min_impurity_split=None,
                                min_samples_leaf=1,
                                min_samples_split=2,
                                min_weight_fraction_leaf=0.0,
                                n_estimators=240, 
                                n_jobs=5,
                                random_state=None,
                                )

In [369]:
X.drop('index', axis=1,inplace=True)

In [370]:
best_final_model.fit(X,y)

ExtraTreesClassifier(bootstrap=False, ccp_alpha=0.0, class_weight=None,
                     criterion='entropy', max_depth=None, max_features='auto',
                     max_leaf_nodes=None, max_samples=None,
                     min_impurity_decrease=0.0, min_impurity_split=None,
                     min_samples_leaf=1, min_samples_split=2,
                     min_weight_fraction_leaf=0.0, n_estimators=240, n_jobs=5,
                     oob_score=False, random_state=None, verbose=0,
                     warm_start=False)

Charge test_X dataset to be predicted. First of all, additional columns have to be generated as the most useful dataframe (ibex_df4):

In [371]:
test_x=pd.read_csv('C:/Users/march/000 Treball Ju`yter 000/Hackathons/Tech_laCaixa2022/test_x.csv',index_col=None)

test_x.isnull().sum()

test_index    0
Date          0
Open          0
High          0
Low           0
Close         0
Adj Close     0
Volume        0
dtype: int64

In [372]:
test_x.shape

(726, 8)

In [373]:

test_x

,test_index,Date,Open,High,Low,Close,Adj Close,Volume
0,6557,2019-06-05,9136.799805,9173.400391,9095.000000,9150.500000,9150.500000,158753000.0
1,6558,2019-06-06,9169.200195,9246.200195,9136.700195,9169.200195,9169.200195,212720900.0
2,6559,2019-06-07,9186.700195,9261.400391,9185.700195,9236.099609,9236.099609,150664700.0
3,6560,2019-06-10,9284.200195,9302.200195,9248.099609,9294.099609,9294.099609,102323700.0
4,6561,2019-06-11,9288.599609,9332.500000,9273.400391,9282.099609,9282.099609,144701200.0
...,...,...,...,...,...,...,...,...
721,7278,2022-03-25,8314.099609,8363.200195,8286.500000,8330.599609,8330.599609,156189000.0
722,7279,2022-03-28,8354.400391,8485.700195,8354.400391,8365.599609,8365.599609,167961800.0
723,7280,2022-03-29,8451.000000,8621.000000,8419.700195,8614.599609,8614.599609,257812200.0
724,7281,2022-03-30,8583.299805,8597.400391,8508.900391,8550.599609,8550.599609,185389000.0
725,7282,2022-03-31,8562.599609,8588.299805,8445.099609,8445.099609,8445.099609,220117500.0

In [374]:
test_x. rename(columns = {'test_index':'day'}, inplace = True)
test_x.drop('Date',axis=1,inplace=True)

test_x

,day,Open,High,Low,Close,Adj Close,Volume
0,6557,9136.799805,9173.400391,9095.000000,9150.500000,9150.500000,158753000.0
1,6558,9169.200195,9246.200195,9136.700195,9169.200195,9169.200195,212720900.0
2,6559,9186.700195,9261.400391,9185.700195,9236.099609,9236.099609,150664700.0
3,6560,9284.200195,9302.200195,9248.099609,9294.099609,9294.099609,102323700.0
4,6561,9288.599609,9332.500000,9273.400391,9282.099609,9282.099609,144701200.0
...,...,...,...,...,...,...,...
721,7278,8314.099609,8363.200195,8286.500000,8330.599609,8330.599609,156189000.0
722,7279,8354.400391,8485.700195,8354.400391,8365.599609,8365.599609,167961800.0
723,7280,8451.000000,8621.000000,8419.700195,8614.599609,8614.599609,257812200.0
724,7281,8583.299805,8597.400391,8508.900391,8550.599609,8550.599609,185389000.0
725,7282,8562.599609,8588.299805,8445.099609,8445.099609,8445.099609,220117500.0

In [375]:
test_x['Oscillation']   = test_x['High']- test_x['Low']
test_x['daily_variation']= test_x['Close']- test_x['Open']

test_x['MA_200_dias'] = test_x['Close'].rolling(200).mean()
test_x['MA_20_dias'] = test_x['Close'].rolling(20).mean()
test_x['MA_5_dias'] = test_x['Close'].rolling(5).mean()
test_x['MA_3_dias'] = test_x['Close'].rolling(3).mean()

test_x['dist_Max_200_d'] = test_x['Close']-test_x['Close'].rolling(200).max()
test_x['dist_Max_50_d'] = test_x['Close']-test_x['Close'].rolling(50).max()
test_x['dist_Max_20_d'] = test_x['Close']-test_x['Close'].rolling(20).max()

test_x['dist_Min_200_d'] = test_x['Close']-test_x['Close'].rolling(200).min()
test_x['dist_Min_50_d'] = test_x['Close']-test_x['Close'].rolling(50).min()
test_x['dist_Min_20_d'] = test_x['Close']-test_x['Close'].rolling(20).min()

In [376]:
index_new=list(test_x.day)

In [377]:
test_x.index=index_new
test_x

,day,Open,High,Low,Close,Adj Close,Volume,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias,dist_Max_200_d,dist_Max_50_d,dist_Max_20_d,dist_Min_200_d,dist_Min_50_d,dist_Min_20_d
6557,6557,9136.799805,9173.400391,9095.000000,9150.500000,9150.500000,158753000.0,78.400391,13.700195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6558,6558,9169.200195,9246.200195,9136.700195,9169.200195,9169.200195,212720900.0,109.500000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6559,6559,9186.700195,9261.400391,9185.700195,9236.099609,9236.099609,150664700.0,75.700196,49.399414,NaN,NaN,NaN,9185.266601,NaN,NaN,NaN,NaN,NaN,NaN
6560,6560,9284.200195,9302.200195,9248.099609,9294.099609,9294.099609,102323700.0,54.100586,9.899414,NaN,NaN,NaN,9233.133138,NaN,NaN,NaN,NaN,NaN,NaN
6561,6561,9288.599609,9332.500000,9273.400391,9282.099609,9282.099609,144701200.0,59.099609,-6.500000,NaN,NaN,9226.399804,9270.766276,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7278,7278,8314.099609,8363.200195,8286.500000,8330.599609,8330.599609,156189000.0,76.700195,16.500000,8716.979521,8202.210010,8368.100000,8321.366536,-865.300782,-555.600586,-156.600586,685.999511,685.999511,685.999511
7279,7279,8354.400391,8485.700195,8354.400391,8365.599609,8365.599609,167961800.0,131.299804,11.199218,8712.828018,8196.529980,8363.379883,8333.766276,-817.000000,-520.600586,-121.600586,720.999511,720.999511,720.999511
7280,7280,8451.000000,8621.000000,8419.700195,8614.599609,8614.599609,257812200.0,201.299805,163.599609,8710.748018,8217.849951,8388.859765,8436.932942,-568.000000,-271.600586,0.000000,969.999511,969.999511,969.999511
7281,7281,8583.299805,8597.400391,8508.900391,8550.599609,8550.599609,185389000.0,88.500000,-32.700196,8708.242515,8229.329932,8433.299609,8510.266276,-632.000000,-335.600586,-64.000000,905.999511,905.999511,905.999511
7282,7282,8562.599609,8588.299805,8445.099609,8445.099609,8445.099609,220117500.0,143.200196,-117.500000,8705.201514,8251.014917,8461.299609,8536.766276,-737.500000,-441.100586,-169.500000,800.499511,800.499511,800.499511

To fill the nan values in the test_x, it can be concatenated to initial dataframe to calculate moving averages, distances to maximums an minimums:

In [378]:
ibex_df4_NoTarget=ibex_df4.copy()
ibex_df4_NoTarget.drop('Target', axis=1,inplace=True)
ibex_df4_NoTarget

,day,Open,High,Low,Close,Adj Close,Volume,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias,dist_Max_200_d,dist_Max_50_d,dist_Max_20_d,dist_Min_200_d,dist_Min_50_d,dist_Min_20_d
0,0,3615.199951,3654.699951,3581.000000,3654.500000,3654.496338,0.0,73.699951,39.300049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3654.500000,3675.500000,3625.100098,3630.300049,3630.296387,0.0,50.399902,-24.199951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,41.800049,-4.000000,NaN,NaN,NaN,3635.333333,NaN,NaN,NaN,NaN,NaN,NaN
3,3,3625.199951,3625.199951,3583.399902,3621.199951,3621.196289,0.0,41.800049,-4.000000,NaN,NaN,NaN,3624.233317,NaN,NaN,NaN,NaN,NaN,NaN
4,4,3621.199951,3644.399902,3598.699951,3636.399902,3636.396240,0.0,45.699951,15.199951,NaN,NaN,3632.719971,3626.266601,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6549,6549,9150.299805,9211.099609,9141.400391,9174.599609,9174.599609,121673100.0,69.699218,24.299804,9157.978975,9266.144873,9191.919922,9173.599935,-485.200196,-407.300782,-396.000000,810.699218,127.799804,127.799804
6550,6550,9225.900391,9294.599609,9204.700195,9216.400391,9216.400391,60178000.0,89.899414,-9.500000,9156.050478,9251.664892,9195.259961,9168.333333,-443.399414,-365.500000,-354.199218,852.500000,169.600586,169.600586
6551,6551,9220.400391,9224.900391,9132.900391,9191.799805,9191.799805,218900800.0,92.000000,-28.600586,9154.357476,9235.394873,9185.800000,9194.266602,-468.000000,-390.100586,-378.799804,827.899414,145.000000,145.000000
6552,6552,9113.200195,9116.700195,9035.099609,9080.500000,9080.500000,148987100.0,81.600586,-32.700195,9152.224976,9210.889892,9155.459961,9162.900065,-579.299805,-501.400391,-337.700195,716.599609,33.700195,33.700195
6553,6553,9120.799805,9175.200195,9114.099609,9157.799805,9157.799805,101389200.0,61.100586,37.000000,9151.079976,9197.869873,9164.219922,9143.366537,-502.000000,-424.100586,-251.799804,793.899414,111.000000,111.000000

In [379]:
total_ibex_df.iloc[6554:6753] #raws of the test_x with nan:

,day,Open,High,Low,Close,Adj Close,Volume,Oscillation,daily_variation,MA_200_dias,MA_20_dias,MA_5_dias,MA_3_dias,dist_Max_200_d,dist_Max_50_d,dist_Max_20_d,dist_Min_200_d,dist_Min_50_d,dist_Min_20_d
6557,6557,9136.799805,9173.400391,9095.000000,9150.500000,9150.500000,158753000.0,78.400391,13.700195,9149.695474,9184.914893,9159.400000,9129.599935,-509.299805,-431.400391,-180.500000,786.599609,103.700195,103.700195
6558,6558,9169.200195,9246.200195,9136.700195,9169.200195,9169.200195,212720900.0,109.500000,0.000000,9148.454976,9176.824902,9149.959961,9159.166667,-490.599610,-412.700196,-135.099610,805.299804,122.400390,122.400390
6559,6559,9186.700195,9261.400391,9185.700195,9236.099609,9236.099609,150664700.0,75.700196,49.399414,9147.292476,9176.874902,9158.819922,9185.266601,-423.700196,-345.800782,-68.200196,872.199218,189.299804,189.299804
6560,6560,9284.200195,9302.200195,9248.099609,9294.099609,9294.099609,102323700.0,54.100586,9.899414,9146.017974,9180.229883,9201.539844,9233.133138,-365.700196,-287.800782,-10.200196,930.199218,247.299804,247.299804
6561,6561,9288.599609,9332.500000,9273.400391,9282.099609,9282.099609,144701200.0,59.099609,-6.500000,9144.527471,9189.574853,9226.399804,9270.766276,-377.700196,-299.800782,-22.200196,918.199218,235.299804,235.299804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6751,6751,8960.799805,8962.500000,8639.900391,8683.000000,8683.000000,342803500.0,322.599609,-277.799805,9264.126755,9507.584961,8773.859961,8801.533203,-1400.599609,-1400.599609,-1400.599609,164.000000,0.000000,0.000000
6752,6752,8532.599609,8542.000000,8310.400391,8375.599609,8375.599609,345901100.0,231.599609,-157.000000,9260.131755,9435.814941,8704.339844,8656.199870,-1708.000000,-1708.000000,-1708.000000,0.000000,0.000000,0.000000
6753,6753,7884.000000,8022.899902,7621.399902,7708.700195,7708.700195,598769200.0,401.500000,-175.299805,9252.593254,9330.449951,8497.779883,8255.766601,-2374.899414,-2374.899414,-2374.899414,0.000000,0.000000,0.000000
6754,6754,7815.600098,8007.700195,7440.600098,7461.500000,7461.500000,506034000.0,567.100097,-354.100098,9243.941755,9209.394971,8227.759961,7848.599935,-2622.099609,-2622.099609,-2622.099609,0.000000,0.000000,0.000000
6755,6755,7589.299805,7717.100098,7364.600098,7436.399902,7436.399902,369150100.0,352.500000,-152.899903,9235.721255,9084.194946,7933.039941,7535.533366,-2647.199707,-2647.199707,-2647.199707,0.000000,0.000000,0.000000

In [380]:
total_ibex_df  = pd.concat([ibex_df4_NoTarget,test_x])
total_ibex_df.shape

(7280, 19)

In [381]:
total_ibex_df['Oscillation']   = total_ibex_df['High']- total_ibex_df['Low']
total_ibex_df['daily_variation']= total_ibex_df['Close']- total_ibex_df['Open']

total_ibex_df['MA_200_dias'] = total_ibex_df['Close'].rolling(200).mean()
total_ibex_df['MA_20_dias'] = total_ibex_df['Close'].rolling(20).mean()
total_ibex_df['MA_5_dias'] = total_ibex_df['Close'].rolling(5).mean()
total_ibex_df['MA_3_dias'] = total_ibex_df['Close'].rolling(3).mean()

total_ibex_df['dist_Max_200_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(200).max()
total_ibex_df['dist_Max_50_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(50).max()
total_ibex_df['dist_Max_20_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(20).max()

total_ibex_df['dist_Min_200_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(200).min()
total_ibex_df['dist_Min_50_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(50).min()
total_ibex_df['dist_Min_20_d'] = total_ibex_df['Close']-total_ibex_df['Close'].rolling(20).min()

In [382]:
test_x_modified= total_ibex_df.iloc[6554:].copy()
test_x_modified.shape

(726, 19)

In [385]:
x_test_pred=best_final_model.predict(test_x_modified)
x_test_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [397]:
predictions_df=pd.DataFrame({'Predictions': list(x_test_pred)} )

In [401]:
predictions_df['test_index']=index_new
predictions_df.index= predictions_df['test_index']
predictions_df.drop('test_index',axis=1,inplace=True)
predictions_df

            Predictions
test_index
6557                  0
6558                  0
6559                  0
6560                  0
6561                  0
...                 ...
7278                  1
7279                  1
7280                  1
7281                  1
7282                  1

[726 rows x 1 columns]

In [402]:
predictions_df.to_csv('C:/Users/march/000 Treball Ju`yter 000/Hackathons/Tech_laCaixa2022/predictions.csv')

In [403]:
predictions_df.to_json('C:/Users/march/000 Treball Ju`yter 000/Hackathons/Tech_laCaixa2022/predictions.json')

# Data Sentiment Study

In [438]:
import pysentimiento

In [425]:
tweet_df=pd.read_csv('C:/Users/march/000 Treball Ju`yter 000/Hackathons/Tech_laCaixa2022/tweets_from2015_#Ibex35.csv')

In [431]:
tweet_df

,tweetDate,handle,text,año
0,Sat Apr 09 14:47:45 +0000 2022,abelac62,He hecho el repaso de todos los componentes de...,object
1,Thu Apr 07 19:14:36 +0000 2022,LluisPerarnau,Els projectes que han presentat les empreses d...,object
2,Mon Apr 04 16:48:45 +0000 2022,Pegaso121080,"Por si no lo has visto, o no lo encuentras en ...",object
3,Tue Apr 05 07:23:16 +0000 2022,zonavalue,📈 #BOLSA: El #Ibex35 abre en 🟢 \n\n🇪🇸 #Ibex35 ...,object
4,Thu Mar 31 16:07:43 +0000 2022,EPeconomia,"El #Ibex35 retrocede un 0,4% en marzo y un 3,0...",object
...,...,...,...,...
9796,Thu Jan 08 16:41:36 +0000 2015,elEconomistaes,"#Cierre | El #Ibex35 sube un 2,26% hasta los 1...",object
9797,Sat Jan 03 17:20:30 +0000 2015,Roger_bolsa,Un vistazo a los #Bluechips del #Ibex #Ibex35....,object
9798,Sat Jan 10 19:42:45 +0000 2015,Secretosdebolsa,Así comienza la #Bolsa en #2015 Ojo a los sopo...,object
9799,Sat Jan 10 21:47:17 +0000 2015,Roger_bolsa,Análisis del #BancoSantander #Santander #SAN t...,object
9800,Mon Jan 05 15:06:49 +0000 2015,elEconomistaes,"El #Ibex35 profundiza en su caída (-2,8%) y pi...",object